<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>



  <div class="container">
    <div class="row">

      <%for(const answer of answers){const time = new Date(answer.time); %>
        <div class ="col-lg-4">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title"><%=answer.answerSubmitted%></h5>
          <p class="card-text">
            Question <%=answer.questionAttempted.questionNumber%> of Country <%=answer.questionAttempted.country%> <br>
            Submitted on <%=time.getDate()%> at time <%=time.getHours()+":"+time.getMinutes()+":"+time.getSeconds()%> <br>
            Hint 1 <%= answer.hintOneTaken ? "Yes" : "No" %> 
            Hint 2 <%= answer.hintTwoTaken ? "Yes" : "No" %> 
            Hint 3 <%= answer.hintThreeTaken ? "Yes" : "No" %> <br>
            Correct <%= answer.correctness ? "Yes" : "No" %>
          </p>
        </div>
      </div>
    </div>
      <%}%>
    </div>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
</script>
</html>